@import "../../stylesheets/variables.scss";

.upgrade {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 132px;

  font-family: $title-font-stack;
  color: $card-foreground-color;
  background-color: $card-background-color;
  border: 2px solid $upgrade-border-color;
  border-radius: 5px;
  margin-right: 2px;

  text-align: center;

  &--enemy {
    transform: rotate(180deg);
  }

  &--destroyable {
    border-color: crimson;
    cursor: pointer;
  }

  &--static {
    transform: rotate(270deg) translateX(48px) translateY(1px);
  }

  &__shields {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 3px 0 -2px 0;
    border: 2px solid $upgrade-border-color;
    border-radius: 5px;
    font-family: $title-font-stack;
    font-size: 16px;

    &--defender {
      color: $defender-text-color;
    }

    &--reverse {
      margin: -2px 0 3px 0;
      transform: rotate(180deg);
    }

    .upgrade--destroyable & {
      border-color: crimson;
    }
  }

  .upgrade__powers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex-grow: 1;
    font-size: 8px;
  }
}
