@import "../../stylesheets/variables.scss";

.upgrade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5vh;
  font-family: $title-font-stack;
  color: $card-foreground-color;
  background-color: $card-background-color;
  border: 0.2vh solid $upgrade-border-color;
  border-radius: 0.5vh;
  text-align: center;
  width: 100%;
  height: 3vh;

  &--enemy {
    transform: rotate(180deg);
  }

  &--destroyable {
    border-color: crimson;
    cursor: pointer;
  }

  &--vertical {
    height: $card-width;
    width: 3vh;
    flex-direction: column;
    margin-top: 0;
    margin-right: 0.1vh;

    > .upgrade__powers {
      flex-direction: column;
    }

    > .upgrade__shields {
      transform: none;

      &.upgrade__shields--reverse {
        transform: rotate(180deg);
      }

      &:first-child {
        left: -0.1vh;
        bottom: 0.2vh;
      }

      &:last-child {
        right: 0;
        top: 0.2vh;
      }
    }

    .upgrade__power, .resource-icon {
      //transform: rotate(90deg);
    }
  }

  &__shields {
    position: relative;
    height: 3vh;
    width: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2vh 0.5vh;

    border: 0.2vh solid $upgrade-border-color;
    border-radius: 0.5vh;
    font-family: $title-font-stack;
    font-size: 2vh;

    transform: rotate(270deg);

    &:first-child {
      left: -0.2vh;
    }

    &:last-child {
      right: -0.2vh;
    }

    &--defender {
      color: $defender-text-color;
    }

    &--reverse {
      transform: rotate(90deg);
    }

    .upgrade--destroyable & {
      border-color: crimson;
    }
  }

  &__powers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    font-size: 0.6vh;

    .resource-icon {
      width: 1.5vh;
    }
  }
}
