@import "../../stylesheets/variables.scss";

.pile-count {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.5vh;
  height: 3.5vh;
  font-size: 2vh;
  background-color: crimson;
  border-radius: 50%;
}
