@import "../../stylesheets/variables.scss";

.pile-count {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8vh;
  height: 8vh;
  font-size: 4vh;
  background-color: crimson;
  border-radius: 50%;
  transform: rotate(180deg);
}
