@import "../../stylesheets/variables.scss";

.welcome {
  &__panel {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 30px;
    color: $panel-foreground-color;
    background-color: $panel-background-color;
    border-radius: 10px;
    box-shadow: $card-shadow;
  }

  &__title {
    font-family: $title-font-stack;
    font-size: 72px;
    text-align: center;
  }

  &__subtitle {
    font-family: $title-font-stack;
    font-size: 36px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;

    > p {
      margin-top: 0;
    }

    &--vertical {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 40%;

    > *:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__label {
    margin-right: 10px;
    white-space: nowrap;
    color: $panel-foreground-secondary-color;
  }
}

// TODO: move this!
.button {
  padding: 5px 10px;
  border: 2px solid currentColor;
  background-color: $panel-background-color;
  color: $panel-foreground-color;
  border-radius: 5px;

  &[disabled] {
    color: #333;
  }

  &:hover:not([disabled]) {
    background-color: #333;
    cursor: pointer;
  }
}

[type=checkbox] {
  margin-right: 10px;
}

.text-input {
  width: 100%;
  padding: 5px;
  background-color: $panel-background-color;
  color: #aaa;
  border: none;
  border-bottom: 2px dotted currentColor;

  &:focus {
    outline: none;
    color: $panel-foreground-color;
  }
}
