@import "../../stylesheets/variables.scss";
@import "../../stylesheets/animations.scss";

.ship {
  position: relative;

  color: $card-foreground-color;
  background-color: $card-background-color;
  padding: 0.6vh;
  margin: 0 0.6vh;
  box-shadow: $card-shadow;
  outline: none; // TODO: accessibility
  transition: transform 0.1s ease-out;

  &__wrapper {
    position: relative;
  }

  &__attack-alert {
    position: absolute;
    left: 3vh;
    top: 3vh;
    padding: 1vh;
    color: white;
    background-color: crimson;
    border-radius: 0.5vh;
    z-index: 1;
    opacity: 0;
    white-space: nowrap;
    font-size: 2vh;

    animation: 1s fadeSlideUp ease-out;
  }

  &--ready {
    cursor: pointer;

    &:hover {
      transform: rotate(-10deg) scale(1.05);
      z-index: 1;
    }

    .card__title {
      color: yellow;
      border-color: currentColor;
    }
  }

  &--attacking {
    transform: rotate(270deg);
    margin-left: 1vh;
    margin-right: 1vh;
  }

  &--ready.ship--enemy {
    // TODO: there's probably a smart way to DRY this
    &:hover {
      transform: rotate(180deg) scale(1.05);
    }
  }
}
