@import "../../stylesheets/variables.scss";

.ship {
  position: relative;
  width: 140px;
  color: $card-foreground-color;
  background-color: $card-background-color;
  padding: 5px;
  margin: 0 5px;
  box-shadow: $card-shadow;
  outline: none; // TODO: accessibility

  &--ready {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.1s ease-out;
    }

    .card__title {
      color: yellow;
      border-color: currentColor;
    }
  }

  &--attacking .card__title {
    color: crimson;
    border-color: currentColor;
  }

  &--enemy {
    transform: rotate(180deg);
  }

  &--ready.ship--enemy {
    // TODO: there's probably a smart way to DRY this
    &:hover {
      transform: rotate(180deg) scale(1.05);
    }
  }
}
