@import "../../stylesheets/variables.scss";

.game-log {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 400px;
  height: 210px;
  padding: 5px;
  border-radius: 2px;
  overflow-y: auto;
  background-color: black;
  color: white;
  opacity: 0.7;
  z-index: 1;

  &__line {
    font-family: monospace;
    font-size: 14px;
    white-space: nowrap;
  }

  &__card {
    font-weight: bold;
  }
}
