@import "../../stylesheets/variables.scss";

.lanes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lane {
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

  &--active::after {
    content: attr(data-hint);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
    color: white;
  }

  &--ship.lane--active::after {
    background: rgba(0, 128, 128, 0.4);
  }

  &--ship.lane--hovering::after {
    background: rgba(0, 128, 128, 0.8);
  }

  &--upgrade.lane--active::after {
    background: rgba(30, 144, 255, 0.4);
  }

  &--upgrade.lane--hovering::after {
    background: rgba(30, 144, 255, 0.8);
  }
}

.fleet {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
