@import "../../stylesheets/variables.scss";

.lanes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lane {
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

  &:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  &--active::after {
    content: ' ';
    display: block;
    position: absolute;

    opacity: 0.4;
    width: 100%;
    height: 100%;
  }
}

.lane--ship.lane--active::after {
  background: teal;
}

.lane--upgrade.lane--active::after {
  background: dodgerblue;
;
}

.fleet {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
