@import "../../stylesheets/variables.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 140px;
  height: 200px;
  padding: 5px;
  margin: 0 5px;

  color: $card-foreground-color;
  background-color: $card-background-color;
  box-shadow: $card-shadow;

  font-family: $title-font-stack;

  &--playable {
    cursor: grab;

    &:hover {
      transform: scale(1.05);
      transition: 0.1s ease-out;
    }
  }

  &--dragging {
    visibility: hidden;
  }

  &--face-down {
    width: 80px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
