@import "../../stylesheets/variables.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 140px;
  height: 200px;
  padding: 5px;
  margin: 0 5px;

  color: $card-foreground-color;
  background-color: $card-background-color;
  box-shadow: $card-shadow;

  font-family: $title-font-stack;

  &--playable {
    cursor: grab;
  }

  &--dragging {
    cursor: grabbing;
  }

  &--face-down {
    width: 80px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 72%;
    padding: 4px 0;

    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 10px;
    text-align: center;
  }

  &__power {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 21%;
    height: 26px;

    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    color: $power-color;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 100px;
    border: 2px solid $card-border-color;
    background-color: $ship-background-color;
  }

  &__passive {
    position: relative;
    width: 80%;
    top: -10px;
    margin-left: 10%;
    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 8px;
    text-align: center;
  }

  &__abilities {
    height: 60px;
    margin: -5px -2px 0 -2px;
    padding: 5px;
    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 10px;
    text-align: center;
  }

  &__passive + &__abilities {
    margin-top: -20px;
    padding-top: 10px;
  }
}
