@import "../../stylesheets/variables.scss";

.end-turn {
  margin-top: 1vh;
  padding: 0.6vh;
  border-radius: 0.2vh;
  font-size: 2vh;
  text-align: center;
  color: $card-background-color;
  background-color: $card-foreground-color;
  border: none;
  cursor: pointer;
}
