@import "../../stylesheets/variables.scss";

.end-turn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  color: $card-background-color;
  background-color: $card-foreground-color;
  border: none;
  cursor: pointer;
}
