@import "responsive";

.full-screen-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.interactable {
  pointer-events: all;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-radius: $panel-border-radius;
  color: $panel-foreground-color;
  background-color: $panel-background-color;
  font-size: $font-size-body;
  z-index: 2;
  box-shadow: $panel-shadow;

  @include mobile {
    font-size: $font-size-body-mobile;
  }

  > h1 {
    font-size: $font-size-title;

    @include mobile {
      font-size: $font-size-title-mobile;
    }
  }
}


[type=checkbox] {
  margin-right: 10px;
}

.text-input {
  width: 100%;
  padding: 5px;
  background-color: $panel-background-color;
  color: #aaa;
  border: none;
  border-bottom: 2px dotted currentColor;

  &:focus {
    outline: none;
    color: $panel-foreground-color;
  }
}

.label {
  margin-right: 10px;
  white-space: nowrap;
  color: $panel-foreground-secondary-color;
}
