$card-border-color: #F2F2F2;
$card-background-color: black;
$upgrade-border-color: #DEBC51;
$defender-text-color: #84B5F2;
$card-foreground-color: white;
$card-background-color: black;
$ship-background-color: #2A3241;
