$card-border-color: #F2F2F2;
$card-background-color: black;
$upgrade-border-color: #DEBC51;
$defender-text-color: #84B5F2;
$card-foreground-color: white;
$card-background-color: black;
$ship-background-color: #2A3241;
$power-color: #D83F23;

$title-font-stack: PixelMix, 'Courier New', monospace;

$card-shadow: 0px 0px 18px 0px rgba(0,0,0,0.53);
$card-border-radius: 4px;
