$card-border-color: #F2F2F2;
$card-background-color: black;
$upgrade-border-color: #DEBC51;
$defender-text-color: #84B5F2;
$card-foreground-color: white;
$card-background-color: black;
$ship-background-color: #2A3241;
$power-color: #D83F23;

$panel-background-color: black;
$panel-foreground-color: white;
$panel-foreground-secondary-color: #DEBC51;

$title-font-stack: PixelMix, 'Courier New', monospace;
$font-size-body: 20px;
$font-size-title: 36px;
$font-size-body-mobile: 12px;
$font-size-title-mobile: 24px;

$card-shadow: 0px 0px 18px 0px rgba(0,0,0,0.53);
$card-border-radius: 4px;
$panel-shadow: 0px 0px 18px 0px rgba(0,0,0,0.53);
$panel-border-radius: 10px;
$interactable-glow: 0px 0px 18px 0px rgba(crimson, 0.55);

$highlight-color: $power-color;

$card-width: 13vh;
$ship-height: 14.3vh;
$upgrade-height: 3vh;
$card-height: $ship-height + $upgrade-height;
$card-aspect-ratio: $card-width / $card-height;

$card-width-mobile: 11vh;
$ship-height-mobile: 12.1vh;
$upgrade-height-mobile: 2.52vh;
$card-height-mobile: $ship-height-mobile + $upgrade-height-mobile;
