@import "../../stylesheets/variables.scss";

.player-stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  padding: 20px;
  color: $card-foreground-color;
  background-color: $card-background-color;
  border-radius: 10px;
  box-shadow: $card-shadow;
  z-index: 1;

  &__name {
    font-family: $title-font-stack;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__stat {
    display: flex;
    justify-content: space-between;
  }

  &--top {
    top: 50px;
  }

  &--bottom {
    bottom: 30px;
  }

  &__resources {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__resource {
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    width: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__resource-amount {
    font-family: $title-font-stack;
    font-size: 20px;
  }

  &__resource-icon {
    margin-top: 5px;
    font-size: 10px;
  }
}
