@import "../../stylesheets/variables.scss";
@import "../../stylesheets/responsive.scss";

.base {
  --base-width: #{$card-height + 1vh};
  --base-height: #{$card-width};

  @include mobile {
    --base-width: #{$card-height-mobile + 3vh};
    --base-height: #{$card-width-mobile};
  }

  display: flex;
  height: var(--base-height);
  color: $card-foreground-color;
  background-color: $card-background-color;
  border-radius: 0.5vh;
  box-shadow: $card-shadow;
  font-family: $title-font-stack;

  &__main {
    width: var(--base-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0.5vh;
    padding: 0.3vh;

    text-align: center;
  }

  &__name {
    font-size: 1.5vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--reverse {
      transform: rotate(180deg);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: $ship-background-color;
    border-radius: 0.5vh;
    border: 0.2vh solid $upgrade-border-color;

    > img {
      width: 90%;
    }
  }
}
