@import "../../stylesheets/variables.scss";

.base {
  display: flex;
  width: $card-height * 1.4;
  height: $card-width;
  color: $card-foreground-color;
  background-color: $card-background-color;
  border-radius: 0.5vh;
  box-shadow: $card-shadow;
  font-family: $title-font-stack;


  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: $card-height * 1;
    margin: 0.5vh;
    padding: 0.5vh;

    text-align: center;
  }

  &__name {
    font-size: 1.5vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--reverse {
      transform: rotate(180deg);
    }
  }

  &__image {
    flex-grow: 1;
    background-color: $ship-background-color;
    border-radius: 0.5vh;
    border: 0.2vh solid $upgrade-border-color;
  }
}
