@import "../../stylesheets/variables.scss";

.hint {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: $panel-background-color;
  font-size: 24px;
  z-index: 1;

  > p {
    margin: 10px 0 0 0;
  }

  &--link {
    margin: 0 10px;
    border-bottom: 1px solid currentColor;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: crimson;
    }
  }
}
