@import "../../stylesheets/variables.scss";

.hint {
  position: absolute;
  top: 23vh;
  left: 1vh;
  padding: 3vh;
  border-radius: 1vh;
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 2vh;
  z-index: 1;


  > p {
    margin: 1vh 0 0 0;
  }

  &--link {
    border-bottom: 1px solid currentColor;

    &:hover {
      cursor: pointer;
      color: crimson;
    }
  }
}
