@import "../../stylesheets/variables.scss";
@import "../../stylesheets/animations.scss";

.loading {
  padding: 10px;
  border-radius: 5px;
  background: $panel-background-color;
  color: $panel-foreground-color;
  font-family: $title-font-stack;
  font-size: 24px;
  animation: pulse 2s infinite;
}
