@import "../../stylesheets/variables.scss";

.loading {
  padding: 10px;
  border-radius: 5px;
  background: $panel-background-color;
  color: $panel-foreground-color;
  font-family: $title-font-stack;
  font-size: 24px;
  animation: pulse 2s infinite;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
