@import "../../stylesheets/variables.scss";
@import "../../stylesheets/animations.scss";

.back-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1vh;
  background-color: $panel-background-color;
}
