@import "../../stylesheets/variables.scss";

// TODO: rename or refactor this `card` stuff
.card {
  &__ship {
    width: 100%;
    font-family: $title-font-stack;
  }

  &__title {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 72%;
    padding: 4px 0;

    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 10px;
    text-align: center;
  }

  &__power {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 21%;
    height: 26px;

    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 100px;

    border: 2px solid $card-border-color;
    background-color: $ship-background-color;

    > img {
      transform: rotate(90deg) translateY(24px) translateX(-7px);
    }
  }

  &__passive {
    position: relative;
    width: 85%;
    top: -10px;
    margin-left: 7.5%;
    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 8px;
    text-align: center;
  }

  &__abilities {
    height: 60px;

    margin: -5px -2px 0 -2px;
    padding: 5px;
    border: 2px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 9px;
    text-align: center;
  }

  &__ability {
    color: #aaa;

    &--active {
      color: white;
    }
  }

  &__passive + &__abilities {
    margin-top: -22px;
    padding-top: 10px;
  }
}

.power {
  color: $power-color;
  font-family: sans-serif;
  vertical-align: top;

  .card__ability & {
    font-size: 13px;
    line-height: 1;
  }
}
