@import "../../stylesheets/variables.scss";

// TODO: rename or refactor this `card` stuff
.card {
  &__ship {
    width: $card-width;
    height: $card-height;

    font-family: $title-font-stack;
  }

  &__title {
    position: absolute;
    top: 0.3vh;
    left: 0.3vh;
    width: 10vh;
    padding: 0.4vh 0;

    border: 0.2vh solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    font-size: 1.1vh;
    text-align: center;
  }

  &__power {
    position: absolute;
    top: 0.3vh;
    right: 0.3vh;
    width: 3vh;
    height: 2.75vh;

    border: 0.2vh solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-background-color;
    text-align: center;
  }

  &__image {
    width: $card-width;
    height: 9vh;

    border: 0.2vh solid $card-border-color;
    background-color: $ship-background-color;

    > img {
      height: 11vh;
      transform: rotate(90deg) translateY(1vh) translateX(-0.5vh);
    }
  }

  &__passive {
    position: relative;
    width: 85%;
    top: -1.1vh;
    margin-left: 7.5%;
    border: 0.2vh solid $card-border-color;
    border-radius: 0.5vh;
    background-color: $card-background-color;
    font-size: 0.8vh;
    text-align: center;

    .resource-icon {
      width: 1vh;
    }
  }

  &__abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 6vh;
    margin: -0.5vh -0.2vh 0 -0.2vh;
    padding: 0.5vh;
    border: 0.2vh solid $card-border-color;
    border-radius: 0.5vh;
    background-color: $card-background-color;
    font-size: 0.9vh;
    text-align: center;

    .attack-icon, .resource-icon {
      width: 1vh;
    }
  }

  &__ability {
    color: #aaa;

    &--active {
      color: white;
    }
  }

  &__passive + &__abilities {
    margin-top: -2vh;
    padding-top: 0.8vh;
  }
}

.power {
  color: $power-color;
  font-family: sans-serif;
  vertical-align: top;
  font-size: 1.7vh;

  .card__ability & {
    font-size: 1.3vh;
    line-height: 1;
  }
}
