@import "../../stylesheets/variables.scss";

.nav {
  display: flex;
  height: 5vh;
  width: 100%;
  margin-bottom: 10px;
  flex-shrink: 0;

  background-color: black;
  color: white;
  box-shadow: $card-shadow;

  &__logo {
    font-family: $title-font-stack;
    font-size: 2vh;
    margin: 0 2vh 0 2vh;
    padding-top: 1vh;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1vh;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    border-bottom: 0.4vh solid transparent;

    &--active {
      color: black;
      background-color: $panel-foreground-secondary-color;
    }

    &--active:hover {
      color: black;
    }

    &:not(&--active):hover {
      border-color: currentColor;
      color: darken($panel-foreground-secondary-color, 10%);
    }
  }

  &__version {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2vh;
    font-size: 2vh;
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    width: 2vh;
    margin-left: 0.5vh;
    border-radius: 50%;
    background-color: $power-color;
  }
}
